In [1]:
import requests as req
import qgrid
import pandas as pd
from IPython.display import display, HTML

BOOTSTRAP_STATIC_URL = 'https://fantasy.premierleague.com/api/bootstrap-static/'
ELEMENT_DETAIL = 'https://fantasy.premierleague.com/api/element-summary/{ELEMENT_ID}'
ELEMENTS_LIVE = 'https://fantasy.premierleague.com/api/event/{GAMEWEEK}/live/'
ENTRY_DETAIL = 'https://fantasy.premierleague.com/api/entry/{USER_ID}/'
GAMEWEEK_PICKS = 'https://fantasy.premierleague.com/api/entry/{USER_ID}/event/{GAMEWEEK}/picks'
CLASSIC_LEAGUE_STANDINGS = 'https://fantasy.premierleague.com/api/leagues-classic-standings/{LEAGUE_ID}?page_new_entries=1&page_standings=1&phase=1'
H2H_LEAGUE_STANDINGS = ''
DREAM_TEAM = 'https://fantasy.premierleague.com/api/dream-team/{GAMEWEEK}/'

DRAFT_BOOTSTRAP_STATIC_URL = 'https://draft.premierleague.com/api/bootstrap-static'
DRAFT_LEAGUE_DETAILS = 'https://draft.premierleague.com/api/league/{LEAGUE_ID}/details'
DRAFT_USER_PICK = 'https://draft.premierleague.com/api/entry/{USER_ID}/event/{GAMEWEEK}'

# current user info
USER_ID = '653325'
DF_LEAGUE_ID = '80782'

In [ ]:
resp = req.get(BOOTSTRAP_STATIC_URL)
BOOTSTRAP_STATIC = resp.json()
# store bootstrap static and live points to redis/postgres? even pandas will do

CURRENT_GW = list(filter(lambda event: event['is_current'] == True, BOOTSTRAP_STATIC['events']))
if CURRENT_GW:
    CURRENT_GW = CURRENT_GW[0]
NEXT_GW = list(filter(lambda event: event['is_next'] == True, BOOTSTRAP_STATIC['events']))
if NEXT_GW:
    NEXT_GW = NEXT_GW[0]
    
# get live points
# query with current GW to the

In [ ]:
# user info
resp = req.get(ENTRY_DETAIL.format(USER_ID=USER_ID))
USER_INFO = resp.json()

# gather league list
CLASSIC_LEAGUES = USER_INFO['leagues']['classic']
H2H_LEAGUES = USER_INFO['leagues']['h2h']

# mini league standings - need auth for this

# construct greq for classic leagues

url_keys = ''

urls = [
    
]

In [22]:
resp = req.get(DRAFT_BOOTSTRAP_STATIC_URL)
DFT_BOOTSTRAP_STATIC = resp.json()
# store bootstrap static and live points to redis/postgres? even pandas will do

DFT_CURRENT_GW = DFT_BOOTSTRAP_STATIC['events']['current']
DFT_NEXT_GW = DFT_BOOTSTRAP_STATIC['events']['next']

# df for all lists

DFT_ELEMENTS_DF = pd.DataFrame(DFT_BOOTSTRAP_STATIC['elements'])
DFT_ELEMENTS_DF.set_index('id', inplace=True)


DFT_ELEMENT_TYPES = pd.DataFrame(DFT_BOOTSTRAP_STATIC['element_types'])
DFT_ELEMENT_TYPES.set_index('id', inplace=True)

In [23]:
color_mapping = {
    'GKP': 'pink',
    'DEF': 'red',
    'MID': 'blue',
    'FWD': 'green'
}

def color_scheme(value):
    return 'color: %s' % color_mapping(value)

In [24]:
# get all team details
resp = req.get(DRAFT_LEAGUE_DETAILS.format(LEAGUE_ID=DF_LEAGUE_ID))

entries_df = pd.DataFrame(resp.json()['league_entries'])

standings_df = pd.DataFrame(resp.json()['standings'])

In [25]:
# show waiver pick
qgrid.show_grid(entries_df[['entry_name', 'player_first_name', 'player_last_name', 'waiver_pick']])

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [35]:
for index, row in entries_df.iterrows():
    # get all players for each team
    'https://draft.premierleague.com/api/entry/{USER_ID}/event/{GAMEWEEK}'
    res = req.get(DRAFT_USER_PICK.format(USER_ID=row['entry_id'], GAMEWEEK=DFT_CURRENT_GW))

    df = pd.DataFrame(columns=['element_type', 'web_name'])
    for item in res.json()['picks']:
        elem = DFT_ELEMENTS_DF.loc[item['element'], :]
        element_iter = {
            'element_type': DFT_ELEMENT_TYPES.loc[elem['element_type'], :]['plural_name_short'], 
            'web_name': elem['web_name']
        }
        df = df.append(element_iter, ignore_index=True)

    display(row['player_first_name'])
    display(df)
    df = df.iloc[0:0]

'baala'

   element_type       web_name
0           GKP        Alisson
1           DEF        Maguire
2           DEF          Gomez
3           DEF            Aké
4           MID      De Bruyne
5           MID          Pogba
6           MID          Pedro
7           MID       Ceballos
8           MID  Saint-Maximin
9           FWD        Firmino
10          FWD           Kean
11          GKP         Heaton
12          FWD          Jesus
13          DEF           Rose
14          DEF        Doherty

'Surya'

   element_type          web_name
0           GKP          Pickford
1           DEF  Alexander-Arnold
2           DEF            Stones
3           DEF             Keane
4           MID             Salah
5           MID       Richarlison
6           MID             Pérez
7           MID           Redmond
8           MID           Bernard
9           FWD           Jiménez
10          FWD              King
11          GKP              Kepa
12          FWD             Adams
13          DEF             Duffy
14          DEF            Alonso

'SREEVATHSAN'

   element_type      web_name
0           GKP       Ederson
1           DEF      van Dijk
2           DEF         Digne
3           DEF  Alderweireld
4           MID        Fraser
5           MID   Milivojevic
6           MID          Mané
7           MID          Groß
8           FWD        Barnes
9           FWD         Vardy
10          FWD          Ings
11          GKP      Dubravka
12          DEF   van Aanholt
13          MID          Özil
14          DEF          Boly

'Ashwin Rm'

   element_type       web_name
0           GKP         de Gea
1           DEF        Laporte
2           DEF       Lindelöf
3           DEF    Azpilicueta
4           DEF  Walker-Peters
5           DEF        Monreal
6           MID       Sterling
7           MID        Eriksen
8           MID    Gudmundsson
9           FWD           Wood
10          FWD        Abraham
11          GKP     Schmeichel
12          MID        Walcott
13          MID        Willian
14          FWD      Lacazette

'vivek'

   element_type         web_name
0           GKP             Pope
1           DEF          Pereira
2           DEF             Diop
3           DEF             Dunk
4           MID       Sigurdsson
5           MID             Zaha
6           MID          Martial
7           MID  Felipe Anderson
8           MID        Tielemans
9           FWD       Aubameyang
10          FWD         Deulofeu
11          GKP         Patrício
12          FWD           Haller
13          DEF       Vertonghen
14          DEF         Otamendi

'Tarun'

   element_type     web_name
0           GKP       Foster
1           DEF       Walker
2           DEF  Wan-Bissaka
3           DEF      Sánchez
4           DEF        Matip
5           MID   Mkhitaryan
6           MID         Pépé
7           MID       Mahrez
8           FWD      Cutrone
9           FWD       Agüero
10          FWD       Giroud
11          GKP    Fabianski
12          DEF    Kolasinac
13          MID        Iwobi
14          MID          Son

'Arjun'

   element_type        web_name
0           GKP            Leno
1           DEF       Robertson
2           DEF       Zinchenko
3           DEF            Shaw
4           DEF       Tarkowski
5           MID         Pulisic
6           MID     Lucas Moura
7           MID           Neves
8           FWD       Joelinton
9           FWD        Rashford
10          FWD          Murray
11          GKP       Hennessey
12          MID     Chamberlain
13          MID  Bernardo Silva
14          DEF     Christensen

'Akshay'

   element_type     web_name
0           GKP       Lloris
1           DEF      Coleman
2           DEF     Chilwell
3           DEF      Holebas
4           MID  David Silva
5           MID     Maddison
6           MID      Barkley
7           MID     Grealish
8           MID      Pereyra
9           FWD         Kane
10          FWD       Wilson
11          GKP         Ryan
12          FWD         Jota
13          DEF        Jonny
14          DEF      Emerson

,entry_id,entry_name,id,joined_time,player_first_name,player_last_name,short_name,waiver_pick
0,334508,VechuSeivom,335583,2019-08-06T14:14:24.647803Z,baala,chandiran,bc,1
1,335414,⬇️Mutta Koodhi,336490,2019-08-06T14:41:25.498511Z,Surya,Raman,SR,6
2,335686,Dubagoor FC,336762,2019-08-06T14:49:51.476591Z,SREEVATHSAN,GOPALAN,SG,4
3,336616,Woddybag,337696,2019-08-06T15:19:13.122936Z,Ashwin Rm,Subbiah,AS,8
4,338748,Ole'satthewheel,339831,2019-08-06T16:20:46.119413Z,vivek,G,vG,5
5,339130,Arjun mandaila sotta,340214,2019-08-06T16:31:15.817700Z,Tarun,Bavanand,TB,2
6,339489,Thirsty Tycoons,340574,2019-08-06T16:42:56.637743Z,Arjun,Gowtham,AG,7
7,340244,Enodadhu pinju Kunju,341330,2019-08-06T17:05:03.592625Z,Akshay,Suresh,AS1,3